@media (max-width: 1550px) {
    section .pepites .mainflex {
        width: 95%;
    }
    .manga-history {
        width: 95%;
    }
}

@media (max-width: 1200px) {
    #pepite-title .sous-titre {
        display: none;
    }
    section .pepites .mainflex {
        width: 80%;
    }
    section .pepites .mainflex .flexbox {
        margin-top: -15px;
    }

    .dernieres-sorties .mainflex .sorties{
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 810px) {
    section .sec-populaire .flexboxright .info-container {
        margin-left: 1em;
    }

    section #classiques {
        margin: 0;
    }
    section .pepites .mainflex {
        width: 100%;
    }
    section .sec-populaire .mainflex .flex-container {
        padding: 2px;
    }

    section .pepites .mainflex .flexbox .flex-content .slider-flex .image-container::after {
        display: none;
        width: 0; 
        height: 0; 
    }
    section .pepites .mainflex .flexbox .flex-content .slider-flex h3{
        color: var(--grey3);
    }
}

@media (max-width: 750px) {
    nav {
        margin-bottom: 0;
    }
    nav .decoration-line .left-line{
        width: 100%;
        background: linear-gradient(to left, var(--green), var(--white), var(--green));
    }
    nav .decoration-line .right-line{
        display: none;
    }
    .resp-cata-link {
        display: block;
    }
    .resp-cata-link img{
        max-width: 100%;
        height: auto;
    }

    section .sec-populaire {
        display: none;
    }
}

@media (max-width: 540px) {
    .dernieres-sorties .mainflex .sorties{
        justify-content: space-evenly;
        gap: 0;
    }

    .history-list {
        border-top-right-radius: 0;
    }
    .history-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .history-title h1 {
        font-size: 21px;
    }
    .manga-history .sep-line {
        background: linear-gradient(to right, var(--green), var(--grey1));
    }
    .history-list a {
        padding-left: 10px;
    }
    .history-list a:hover {
        padding-left: 10px;
    }
}

@media (max-width: 400px) {
    section .sec-populaire .flexboxright .pop-box .number-flex{
        width: 35%;
    }
    section .sec-populaire .flexboxright .info-container {
        margin-left: 0.8em;
        font-size: smaller;
    }

    section .pepites .mainflex .titre-with-box {
        font-size: 16px;
    }
    
    section .pepites .mainflex .titre-with-box i {
        font-size: 33px;
    }
    section .pepites .mainflex .flexbox {
        margin-top: -5px;
    }
    #Slider1{
        .inner {
          animation-duration: 50s;
        }
    }
    #Slider2{
        .inner {
          animation-duration: 50s;
        }
    }
}

@media (max-width: 350px) {
    section .sec-populaire .mainflex {
        width: 90%;
    }
    section .sec-populaire .mainflex .titre-with-box {
        font-size: 15px;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    section .sec-populaire .mainflex .titre-with-box i{
        font-size: 30px;
    }
}