@media (max-width: 1700px) {
    .bloc-scan .parameters {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .bloc-scan .pages-flex-verticale {
        width: 100%;
    }
    .bloc-scan .pages-flex-horizontale {
        width: 100%;
    }
    .bloc-scan .pages-flex-horizontale img {
        width: 100%;
        height: auto;
    }
    body.light-mode .bloc-scan .pages-flex-verticale img {
        margin-bottom: 0;
    }
}

@media (max-width: 700px) {
    .bloc-scan .parameters{
        min-height: fit-content;
        margin-bottom: 20px;
    }
    .bloc-scan .parameters .manga-info {
        height: fit-content;
        margin-bottom: 10px;
        padding: 10px;
        background-color: var(--grey1);
        border-radius: 8px;
    }
    body.light-mode .bloc-scan .parameters .manga-info{
        background-color: white;
    }
    .bloc-scan .parameters .manga-info a,
    .bloc-scan .parameters .manga-info a .green{
        color: var(--dark-white);
        text-decoration: underline;
    }
    body.light-mode .bloc-scan .parameters .manga-info a,
    .bloc-scan .parameters .manga-info a .green{
        color: var(--dark-white);
    }
    .bloc-scan .parameters .manga-info a:hover .green{
        color: inherit;
    }

    .bloc-scan .parameters .pages-option{
        height: fit-content;
        flex-direction: column;
    }

    .bloc-scan .parameters .pages-option #next-chapter,
    .bloc-scan .parameters .pages-option #previous-chapter,
    .bloc-scan .parameters .pages-option button,
    .bloc-scan .parameters2 .pages-option2 button{
        position: relative;
        color: var(--dark-white);
    }

    /* Options de pages toujours flexibles */
    .bloc-scan .parameters .pages-option {
        display: flex;
        flex-direction: column;
    }

    .bloc-scan .parameters .pages-option :nth-child(1) { order: 4; }
    .bloc-scan .parameters .pages-option :nth-child(2) { order: 2; }
    .bloc-scan .parameters .pages-option :nth-child(3) { order: 3; }
    .bloc-scan .parameters .pages-option :nth-child(4) { order: 1; }
    .bloc-scan .parameters .pages-option :nth-child(5) { order: 5; }
    .bloc-scan .parameters .pages-option :nth-child(6) { order: 6; }

    .bloc-scan .parameters .pages-option #flex-page-btn{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        position: relative;
    }

    .bloc-scan .pages-flex-verticale img {
        margin-bottom: 0;
    }

    #to-top-btn {
        opacity: 35%;
        scale: 75%;
    }
}

@media (max-width: 350px) {
    .bloc-scan .parameters2 .pages-option2 button{
        font-size: 9px;
    }
}