/* !!!!! ACCUEIL !!!!! */


/* KEYFRAMES */
@keyframes slide-diagonal {
    0% {
        background-color: transparent; /* Commence transparent */
        transform: translate(150%,100%) rotate(-45deg); /* Commence en bas à droite */
    }
    100% {
        background-color: white; /* Finit en blanc */
        transform: translate(0, 0) rotate(-45deg); /* Reste à la position originale */
    }
}

section .sec-populaire {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 36em;
}

section .sec-populaire .mainflex {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
}

section .sec-populaire .mainflex .titre-with-box {
    width: 80%;
    margin-left: 30px;
    margin-bottom: -8px;
}

section .sec-populaire .mainflex .titre-with-box i {
    font-size: 43px;
}

section .sec-populaire .mainflex .flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 2px 15px;
    gap: 15px;
}

section .sec-populaire .mainflex .flex-container .flexboxleft,
section .sec-populaire .mainflex .flex-container .flexboxright {
    position: relative;
    border-radius: 6px;
    height: 100%;
    overflow: hidden;
}

/* =========================================================================================

!!!!!!!!!!! PARTIE GAUCHE !!!!!!!!!!!!*/

section .sec-populaire .mainflex .flex-container .flexboxleft {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 2px solid var(--grey1); 
}

/* Boutons pour changer la page du slide */
section .sec-populaire .mainflex .flex-container .flexboxleft .left-arrow-btn,
section .sec-populaire .mainflex .flex-container .flexboxleft .right-arrow-btn {
    position: absolute;
    z-index: 10;
    top: 10px;
}

section .sec-populaire .mainflex .flex-container .flexboxleft .left-arrow-btn{
    left: 10px;
}

section .sec-populaire .mainflex .flex-container .flexboxleft .right-arrow-btn{
    right: 10px;
}

section .sec-populaire .mainflex .flex-container .flexboxleft .left-arrow-btn button,
section .sec-populaire .mainflex .flex-container .flexboxleft .right-arrow-btn button {
    border-radius: 10px;
    background-color: var(--black);
    border: 2px solid var(--grey1);
    width: max-content;
    padding: 2px 5px;
    font-weight: 100;
    cursor: pointer; 
    transition: border 0.3s ease;
}

section .sec-populaire .mainflex .flex-container .flexboxleft .left-arrow-btn i,
section .sec-populaire .mainflex .flex-container .flexboxleft .right-arrow-btn i {
    color: var(--green);
    font-size: 20px;
    transition: color 0.3s ease;
}

section .sec-populaire .mainflex .flex-container .flexboxleft .left-arrow-btn button:hover i,
section .sec-populaire .mainflex .flex-container .flexboxleft .right-arrow-btn button:hover i {
    color: var(--white);
}
section .sec-populaire .mainflex .flex-container .flexboxleft .left-arrow-btn button:hover,
section .sec-populaire .mainflex .flex-container .flexboxleft .right-arrow-btn button:hover {
    border: 2px solid var(--black);
}


/* Elements de l'affiche */
section .sec-populaire .mainflex .flex-container .flexboxleft .manga-flex {
    position: relative;
    min-width: 100%;   
    height: 100%; 
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

section .sec-populaire .mainflex .flex-container .flexboxleft .manga-flex .infos{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 55%;   
    height: 100%; 
}

section .sec-populaire .mainflex .flex-container .flexboxleft .manga-flex .infos h1{
    margin-top: 120px;
    margin-left: 5%;
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
}

section .sec-populaire .mainflex .flex-container .flexboxleft .manga-flex .infos .tag-flexbox{
    display: flex;
    flex-direction: row;
    margin-left: 6.5%;
    margin-top: 0.8%;
    margin-bottom: 2%;
    gap: 10px;
}

section .sec-populaire .mainflex .flex-container .flexboxleft .manga-flex .infos #synopsis{
    margin-left: 7%;
    font-size: 16px;
}

section .sec-populaire .mainflex  #know-more-btn {
    z-index: 1000;
}

section .sec-populaire .mainflex .flex-container .flexboxleft .manga-flex .manga-img {
    position: relative;
    width: 100%;   
    height: 100%; 
    z-index: -1;
}

/* Grande Image de l'affiche' */
section .sec-populaire .mainflex .flex-container .flexboxleft .manga-flex .manga-img img {
    width: 100%;   
    height: 100%; 
    object-fit: cover;  
    transition: transform 0.6s ease; /* Transition douce pour l'effet de zoom */
}

section .sec-populaire .mainflex .flex-container .flexboxleft::after {
    content: ""; 
    position: absolute; 
    left: -20em;
    bottom: 15em;
    width: 120%; 
    height: 32em; 
    background-color: rgb(218, 255, 219); 
    transform: translate(150%, 100%) rotate(-45deg); 
    transition: transform 1s ease, filter 0.3s ease; 
    filter: blur(200px); 
    opacity: 30%;
    z-index: 1;
}

/* Effets au survol de l'affiche */
section .sec-populaire .mainflex .flex-container .flexboxleft:hover::after {
    transform: translate(-80%, 0) rotate(-45deg); 
}
section .sec-populaire .mainflex .flex-container .flexboxleft:hover .manga-img img {
    transform: scale(1.04); 
}

/* =========================================================================================

!!!!!!!!!!! PARTIE DROITE !!!!!!!!!!!!*/
/* Nom de manga long NON SUPPORTES */
section .sec-populaire .mainflex .flex-container .flexboxright {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: var(--light-black);
}
section .sec-populaire .flexboxright .pop-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}
section .sec-populaire .flexboxright .pop-title h1{
    background-color: var(--grey1);
    padding: 0 15px;
    border-radius: 6px;
    color: var(--green)
}
section .sec-populaire .flexboxright .pop-box {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 18%;
    transition: background-color 0.2s ease;
}
section .sec-populaire .flexboxright .pop-box .number-flex{
    display: flex;
    justify-content: center;
    width: 25%;
}
section .sec-populaire .flexboxright .pop-box .number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.7em;
    height: 1.7em;
    background-color: var(--grey1);
    color: var(--white);
    border-radius: 5px;
    margin-top: 0.9em;
    transition: background-color 0.2s ease, color 0.2s ease;
}
section .sec-populaire .flexboxright .pop-box .img-info-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20em;
}
section .sec-populaire .flexboxright .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
section .sec-populaire .flexboxright .img-container img{
    max-height: 90%;
}
section .sec-populaire .flexboxright .info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--white);
    font-family: "Poppins";
    margin-left: 0.5em;
}
section .sec-populaire .flexboxright a .manga-name {
    transition: color 0.2s ease;
}

/* !!!!! HOVER EFFECT PARTIE DROITE !!!!! */
section .sec-populaire .flexboxright a:hover {
    background-color: var(--grey1);
}
section .sec-populaire .flexboxright a:hover .number {
    background-color: var(--black);
    color: var(--white);
}
section .sec-populaire .flexboxright a:hover .manga-name {
    color: var(--green);
}
section .sec-populaire .flexboxright a:hover .grey {
    color: var(--dark-white);
}









/* !!!!! PEPITES !!!!! */
/* !!!!!!!!!!!!!!!!
Contient les mêmes styles que le SLIDER POPULAIRE */

section .pepites {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20em;
    margin-bottom: 30px;
}

section .pepites .mainflex {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 90%;
}

section .pepites .mainflex .titre-with-box {
    display: flex;
    justify-content: center;
    width: 80%;
}

section .pepites .mainflex .titre-with-box i {
    font-size: 43px;
}

section .pepites .mainflex .flexbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2px 15px;
}

section .pepites .mainflex .flexbox .flex-content {
    display: flex;
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    overflow: hidden;
}

section .pepites .mainflex .flexbox .flex-content .gradient-left,
section .pepites .mainflex .flexbox .flex-content .gradient-right {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 999;
}


section .pepites .mainflex .flexbox .flex-content .gradient-left {
    left: 0;
    background: linear-gradient(to right, var(--black), rgba(128, 128, 128, 0));
}

section .pepites .mainflex .flexbox .flex-content .gradient-right {
    right: 0;
    background: linear-gradient(to left, var(--black), rgba(128, 128, 128, 0));
}

section .pepites .mainflex .flexbox .flex-content .slider-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9.5em;
    height: 100%;
    gap: 10px;
    transition: gap 0.25s ease;
}

section .pepites .mainflex .flexbox .flex-content .slider-flex .image-container{
    display: flex;
    position: relative;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s ease;
}

section .pepites .mainflex .flexbox .flex-content .slider-flex .image-container img{
    max-height: 100%;
}

section .pepites .mainflex .flexbox .flex-content .slider-flex h3{
    font-family: "Montserrat";
    color: var(--grey3);
    font-size: 14px;
    font-weight: 900;
    transition: color 0.3s ease;
}

section .pepites .mainflex .flexbox .flex-content .slider-flex #little-title{
    font-size: 12px;
}

section .pepites .mainflex .flexbox .flex-content .slider-flex:hover .image-container{
    height: 83%;
}
section .pepites .mainflex .flexbox .flex-content .slider-flex:hover h3{
    color: var(--white);
}
section .pepites .mainflex .flexbox .flex-content .slider-flex:hover {
    gap: 2px;
}

section .pepites .mainflex .flexbox .flex-content .slider-flex .image-container::after {
    content: ""; 
    position: absolute; 
    left: -110px;
    bottom: -50px;
    width: 80%; 
    height: 25em; 
    background-color: rgb(255, 255, 255); 
    transform: translate(150%, 100%) rotate(45deg); 
    transition: transform 0.5s ease-out, filter 0.4s ease, opacity 0.3s ease-out; 
    filter: blur(5px); 
    opacity: 15%;
    z-index: 1;
}

section .pepites .mainflex .flexbox .flex-content .slider-flex:hover .image-container::after {
    transform: translate(0, -50%) rotate(45deg); 
    opacity: 50%;
}


.loop-slider {
    .inner {
      display: flex;
      width: fit-content;
      animation-name: loop;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: var(--direction);
      animation-duration: var(--duration);
    }
}

@keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}

