.profile-bloc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52em;
    background-color: red;
}

.profile-bloc .left-flex {
    width: 55%;
    height: 90%;
    background-color: blue;
}

.profile-bloc .right-flex {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 90%;
    background-color: green;
}

/* !!!!!!!!!!!!!! BLOC GAUCHE !!!!!!!!!!!! */
.profile-bloc .left-flex .title,
.profile-bloc .left-flex .cookies-info,
.profile-bloc .left-flex .waiting-list,
.profile-bloc .left-flex .fav-list {
    width: 100%;
}
.profile-bloc .left-flex .title {
    height: 10%;
    background-color: lightgoldenrodyellow;
}
.profile-bloc .left-flex .cookies-info {
    height: 20%;
    background-color: aqua;
}
.profile-bloc .left-flex .waiting-list {
    height: 35%;
    background-color: brown;
}
.profile-bloc .left-flex .fav-list {
    height: 35%;
    background-color: lightgreen;
}

/* !!!!!!!!!!!!!! BLOC DROIT !!!!!!!!!!!! */
.profile-bloc .right-flex .historique,
.profile-bloc .right-flex .recommendation {
    width: 100%;
    height: 50%;
}

.profile-bloc .right-flex .historique {
    width: 100%;
    height: 50%;
    background-color: lightseagreen;
}
.profile-bloc .right-flex .recommendation {
    width: 100%;
    height: 50%;
    background-color: lightsalmon;
}