.sec-sorties {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 23em;
    margin-bottom: 10px;
}

.sec-sorties .mainflex{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 23em;
    gap: 10px;
}

/* !!!!! PARTIES SORTIES (GAUCHE) !!!!! */
.sec-sorties .left-flexbox{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding-left: 15px;
}
.sec-sorties .left-flexbox .dernieres-sorties{
    width: 100%;
    height: 96.5%;
    overflow: hidden;
    background-color: var(--light-black);
    border-radius: 6px;
}
.sec-sorties .right-flexbox{
    display: flex;
    width: 40%;
    height: 100%;
    padding-right: 15px;
}