.bloc-entier {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: -15px 0 30px 0;
}

/* Titre */
.bloc-entier .catalogue-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 106em;
    height: fit-content;
}

.bloc-entier .catalogue-title i{
    color: var(--green);
    font-size: 35px;
    margin-right: 10px;
}

.bloc-entier .catalogue-title h1{
    font-family: "Poppins";
    width: 100%;
    font-size: 35px;
    text-transform: uppercase;
}

.mainflex {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 106em;
    height: fit-content;
}

.mainflex .filters,
.mainflex .catalogue-flex  {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
}


/* FILTRES */
.mainflex .filters {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25%;
    height: 49em;
    background-color: red;
    margin-right: 15px;
    gap: 5em;
}
.mainflex .filters .filter-searchbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3em;
    background-color: blue;
    border-radius: 8px;
}
.mainflex .filters .filter-letters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: green;
    border-radius: 8px;
    gap: 5px;
}
.mainflex .filters .filter-letters button{
    border: none;
    background-color: var(--grey1);
    color: var(--white);
    width: 2.5em;
    height: 2.5em;
    border-radius: 6px;
    font-family: 'Poppins';
    cursor: pointer;
    transition: color 0.1s ease, background-color 0.1s ease;
}
.mainflex .filters .filter-letters button:hover{
    background-color: var(--grey2);
    color: var(--green);
}
.mainflex .filters .filter-tags{
    width: 100%;
    height: 10em;
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
}


/* CATALOGUE */
.mainflex .catalogue-flex {
    display: flex;
    flex-direction: column;
    width: 75%;
    overflow: hidden;
}

.mainflex .catalogue-flex .mangas-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 10px;
}
.mainflex .catalogue-flex .mangas-flex a{
    width: fit-content;
    height: fit-content;
}
.mainflex .catalogue-flex .mangas-flex a .content{
    position: relative;
    display: flex;
    justify-content: center;
    width: 10.5em;
    height: 20em;
    padding-bottom: 5px;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.2s ease;
}
.mainflex .catalogue-flex .mangas-flex a .img-container{
    position: relative;
    height: 75%;
    width: fit-content;
    border-radius: 8px;
    overflow: hidden;
    transition: height 0.2s ease;
}
.mainflex .catalogue-flex .mangas-flex a .img-container img{
    height: 100%;
    width: auto;
}

.mainflex .catalogue-flex .mangas-flex a .infos{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 4.5em;
    font-size: 16px;
    color: var(--white);
    padding-left: 0.35em;
    transition: padding-left 0.2s ease;
}
.mainflex .catalogue-flex .mangas-flex a .infos h3{
    font-size: 16px;
    transition: color 0.2s ease;
}

.mainflex .catalogue-flex .mangas-flex .infos p{
    font-size: 14px;
    color: var(--grey2);
    transition: color 0.2s ease;
}

.mainflex .catalogue-flex .mangas-flex a:hover .img-container{
    height: 79%;
}
.mainflex .catalogue-flex .mangas-flex a:hover .infos{
    padding-left: 0.08em;
    color: var(--green);
}
.mainflex .catalogue-flex .mangas-flex a:hover .infos p{
    color: var(--grey3);
}

.mainflex .catalogue-flex .mangas-flex a .img-container::after {
    content: ""; 
    position: absolute; 
    left: -1em;
    bottom: 8em;
    width: 60%; 
    height: 25em; 
    background-color: rgb(255, 255, 255); 
    transform: translate(150%, 100%) rotate(45deg); 
    transition: transform 0.6s ease, opacity 0.3s ease-out; 
    filter: blur(5px); 
    opacity: 8%;
    z-index: 1;
}

.mainflex .catalogue-flex .mangas-flex a:hover .img-container::after {
    transform: translate(0, -15%) rotate(45deg);  
    opacity: 40%;
}


/* Pagination */
.mainflex .catalogue-flex .pagination {
    width: 100%;
    height: 4em;
    /* background-color: lightcoral; */
}

@media (max-width: 1700px) {
    .bloc-entier .catalogue-title {
        width: 90%;
    }
    .mainflex {
        width: 90%;
    }
}